[build]
builder = "dockerfile"
dockerfilePath = "server/Dockerfile"
watchPatterns = ["server/**"]

[deploy]
healthcheckPath = "/health"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 3
